  
{% extends 'theme.html' %}


{% block content %}




    <h2>Superhero Index</h2>
    <ul style="list-style-type:disc;">
        <li>
            <a href="ironman">Iron Man</a>
        </li>
        <li>
            <a href="scarletwitch">Scarlet Witch</a>
        </li>
        <li>
            <a href="doctorstrange">Doctor Strange</a>
        </li>
  <!--
        <li>
            <a href="Spider-Man">Spider-Man Profile</a>
        </li>
        <li>
            <a href="Punisher">Punisher Profile</a>
        </li>
        <li>
            <a href="Elektra">Elektra Profile</a>
        </li>
        <li>
            <a href="Iron-Man">Iron-Man</a>
        </li>
    -->
    </ul>


{% endblock content %}