<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Page</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
{% extends 'theme.html' %}

<body>
{% block content %}

<h2>Hero - {{ title }}</h2>
<p>
    This page shows info about {{ title }}.
</p>

<img src="/static/images/{{ title }}.jpg" alt="{{ title }}">
<p>{{ body }} <br>
    Learn about <a href="/{{ otherHeroUrl }}">{{ otherHero }}</a> or <a href="/{{ otherHero1Url }}">{{ otherHero1 }}</a></p>
<header>
    <h1><a href="/home">Back to Home</a></h1>
</header>
    
{% endblock content %}
    </body>