<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Discs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body class='text-center'>
    <div class='container-fluid'>
        <h1><a href='home'>GO HOME</a></h1>
    
        <h2>List of discs</h2>
        <p class="text-center"><a href="/adddisc/"> Add a Disc!</a></p>
        <div class="container-fluid">
            <table class="table table" border-width=thick;>

                <tbody>

                    {% for h in discs %}
                    <tr>
                        <td>
                            <h2>{{ h.name }}</h2>
                            <p>Brand: <b>{{ h.brand }}</b></p>
                            <p>Name: <b>{{ h.name }}</b></p>
                        </td>
                        <td>
                            <img src="../discs/static/images/{{ h.image }}" alt="{{ h }}" height="200px">
                        </td>
                        <td>
                            <div><p class="text-center"><a href="/disc_delete/"> Delete </a></p></div>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
</body>

</html>
