{% extends 'theme.html' %}
<body>
    {% block header%}
    <div>
        <h1 class="bg-success text-success height=100px"> h</h1>
    </div>
    <div>
        <h1 class="text-center bg-dark text-primary">{{ title }}</h1>
         {% endblock header%}
        {%  block main %}
        <p class="text-center bg-dark text-primary"> <a href="disc">Click here to view some discs</a> </p>
    </div>
   
    <div>
        <h1 class="bg-success text-success height=100px"> h</h1>
    </div>
{% endblock main%}

</body>

<footer>
<p class="text-center"> Justin Moehlenpah (2020) BACS350 Intermediate Web Development</p>    
</footer>


